:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.logo {
  height: 250px;
}

.page {
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  height: 100vh;
}

.item1 {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item2 {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item3 {
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}



