:root {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}



.page {
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  height: 100vh;
}

.item1 {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 100%;
}

.logo_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo {
  height: 240px;
}

.hdlogo {
  height: 60px;
}

.item2 {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item3 {
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}



